.main {
    width: 100%;
    background-color: rgb(95, 208, 238);
    color: #114e5f;
  }
  
  .underline {
    padding-right: 20px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .row {
    justify-content: space-between;
    margin: 0px;
  }
  
  .link {
    color: #114e5f !important;
  }