.left-menu {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  line-height: 1.95;

  & hr {
    margin-top: 0.65rem;
    margin-bottom: 0.6rem;

    &:last-of-type {
      display: none;
    }
  }
}

.item {
  list-style: none;
}

.single-item {
  padding-left: 20px;
  margin-bottom: 0;
  line-height: 1.25;
}

.active-link, .active-link:hover {
  color: black;
  text-decoration: none;
  cursor: default;
}
