.title {
  text-transform: uppercase;
  line-height: 1.3;
  color: #114E5F;
  margin-bottom: 0.15rem;
  margin-top: 0.3rem;
}

.list {
  padding-bottom: 0.5rem;

  &:last-of-type {
    padding-bottom: 0;
  }
}
