.title {
  cursor: pointer;
  margin-bottom: 0.4rem;
  margin-left: 0.1rem;
  font-size: 1.25rem;
  color: #114E5F;

  &::before {
    margin-right: 0.2rem;
    content: "\25BE"; // -
  }
  &.collapsed::before {
    content: "\25B8"; // +
  }
}

.list {
  padding-left: 1.4rem;
  margin-bottom: 0.75rem;

  &.collapsed {
    display: none;
  }
}