*.log
**/dist

# IDE
.vscode

# Node
**/node_modules
/packages/*/*.tgz

# Testing
**/coverage

# Site
/site/_site
/site/core
/site/grid
/site/react
/site/vue

# Demos
/packages/dx-react-demos/src/demo-registry.js
/packages/dx-react-demos/src/**/*.g*
