*.log
**/dist

# IDE
.vscode

# Node
**/node_modules
/packages/*/*.tgz

# Testing
**/coverage

# Site
/site/_site
/site/core
/site/grid
/site/react
/site/vue

# Demos
/packages/*/src/demo-registry.js
/packages/*/src/**/*.g*
