.contentWrapper {
  overflow: hidden;
}

.flex.leftImage {
  flex-direction: row-reverse;

  img {
    margin-right: auto;
    margin-left: 0;
  }
}

.highlighted {
  background-color: #f8f8f8;
}

.flex {
  display: flex;
  // flex-wrap: wrap;

  img {
    margin-left: auto;
  }
}

.flex > img, .flex > div {
  width: 530px;
}

@media (max-width: 1200px) {
  .flex > img {
    margin-right: -150px;
  }
  .flex > div {
    width: 500px;
  }
}

@media (max-width: 1000px) {
  .flex > img {
    margin-right: -200px;
  }
  .flex > div {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .flex {
    display: block;
  }
  .leftImage {
    flex-direction: unset;
  }
  .flex img {
    margin: 0;
  }
  .leftImage img {
    margin: 0;
  }
  .flex > div {
    width: 100%;
  }
}
