.contentWrapper {
  padding: 40px 0;
}

.leftImage {
  flex-direction: row-reverse;
}

.highlighted {
  background-color: #f8f8f8;
}

.flex {
  display: flex;
}

.flex img {
  margin: 0 0 0 80px;
}

.leftImage img {
  margin: 0 80px 0 0;
}

@media screen and (max-width: 768px) {
  .flex {
    display: block;
  }
  .leftImage {
    flex-direction: unset;
  }
  .flex img {
    margin: 0;
  }
  .leftImage img {
    margin: 0;
  }
}
