@import "../../constants";

.main {
  line-height: 1.1;
  font-family: "Segoe UI Light";
  font-size: 60px;
  color: white;
  padding-left: $inner-offset;
}

.additional {
  font-family: "Segoe UI Bold";
  font-size: 34px;
  color: white;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 55px;
  padding-left: $inner-offset;
}

.overviewImage {
  padding-left: $inner-offset;
}

.container {
  // margin-bottom: -50px;
}

.block {
  padding-top: 40px;
}

.cropper {
  overflow: hidden;
}


@media screen and (max-width: 800px) {
  .main {
    font-size: 48px;
  }
  .additional {
    font-size: 24px;
    margin-top: 10px;
    padding-right: 30px;
  }
  .block {
    padding-top: 0;
  }
  .container.withImage {
    padding-bottom: 220px;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    font-size: 42px;
  }
  .additional {
    font-size: 28px;
  }
}
