.main {
  line-height: 1.1;
  font-family: "Segoe UI Light";
  font-size: 60px;
  color: white;
}

.additional {
  font-family: "Segoe UI Semibold";
  font-size: 40px;
  color: white;
  line-height: 1.1;
  margin-top: 20px;
}

.container {
  padding-bottom: 50px;
}

.block {
  padding-top: 50px;
}

.cropper {
  overflow: hidden;
}
