@import '../../constants';

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  &:first-child {
    .title, .description {
      padding-left: $inner-offset;
    }
  }
  &:last-child {
    .title, .description {
      padding-right: $inner-offset;
    }
  }
}

.title {
  font-family: "Segoe UI Semibold";
  font-size: 18px;
  color: rgba(24, 60, 87, 255);
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: rgba(125, 136, 142, 255);
}

@media(max-width: 1000px) {
  .container {
    &:nth-child(odd) {
      .title, .description {
        padding-left: $inner-offset;
      }
    }
    &:nth-child(even) {
      .title, .description {
        padding-right: $inner-offset;
      }
    }
  }
}

@media(max-width: 800px) {
  .container {
    .title, .description {
      padding-left: $inner-offset;
      padding-right: $inner-offset;
    }
  }
}
