.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-family: "Segoe UI Semibold";
  font-size: 18px;
  color: rgba(24, 60, 87, 255);
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: rgba(125, 136, 142, 255);
}
