.link {
  font-family: "Segoe UI";
  font-size: 16px;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}

.button {
  // display: inline-block;
  background-color: white;
  padding: 15px 20px;
  color: black;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  margin: 0 auto 15px;
  width: 100%;
  &:hover {
    color: #fff;
    background-color: #0b4249;
  }
  &.large {
    padding: 17px 50px;
    margin-right: 10px;
  }
}

.plain {
  color: #fff;
  margin: auto;
  &:hover {
    color: #0b4249;
  }
}

.react {
  background-color: rgb(89, 208, 240);
}

@media (min-width: 500px) {
  .button {
    width: 220px;
  }
}

@media  (max-width: 1000px) {
  .button {
    display: inline-block;
  }
}
