.link {
  font-family: "Segoe UI";
  font-size: 16px;
  margin-bottom: 20px;
  &:hover {
    text-decoration: none;
  }
}

.button {
  background-color: white;
  padding: 15px 20px;
  color: black;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  width: 225px;
  text-align: center;
  &:hover {
    color: #fff;
    background-color: #0b4249;
  }
}

.plain {
  color: #fff;
  &:hover {
    color: #0b4249;
  }
}

.react {
  background-color: rgb(89, 208, 240);
}

@media (max-width: 768px) {
  .button {
    width: 185px;
  }
}
