@import "../../constants";

.container {
  height: 240px;
  padding: 30px $inner-offset 25px $inner-offset;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.titleWrapper {
  margin-bottom: 37px;
}

.icon {
  margin-right: 10px;
}

.title {
  font-family: "Segoe UI Bold";
  font-size: 28px;
  color: white;
  line-height: 1.1;
  span {
    display: block;
  }
}

.description {
  font-size: 14px;
  color: rgba(125, 136, 142, 255);
}

.react {
  background-color: rgb(89, 208, 240);
}

@media screen and (max-width: 1024px) {
  .container {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
