
.header {
  margin-top: -175px;
}

.footer {
  margin-bottom: 60px;
  margin-top: -20px;
}

@media screen and (max-width: 800px) {
  .header {
    margin-top: -420px;
  }
}

@media (max-width: 640px) {
  .header {
    margin-top: -220px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .header {
    margin-top: -255px;
    margin-bottom: 14px;
  }
}
