
.header {
  margin-top: -460px;

  @media (min-width: 1000px) {
    margin-top: -165px;
    margin-bottom: 14px;
  }

  @media (min-width: 1280px) {
    margin-top: -145px;
    margin-bottom: 0;
  }
}

.footer {
  padding-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .header {
    // margin-top: -420px;
  }
}

@media (max-width: 800px) {
  .header {
    // margin-top: -220px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .header {
    // margin-top: -165px;
    // margin-bottom: 14px;
  }
}
