.container {
  height: 210px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.icon {
  margin-right: 10px;
}

.title {
  font-family: "Segoe UI Bold";
  font-size: 22px;
  color: white;
}

.description {
  font-size: 14px;
  color: rgba(125, 136, 142, 255);
}

.react {
  background-color: rgb(89, 208, 240);
}

.vue {
  background-color: rgb(82, 184, 135);
}
