.container {
  margin-top: -150px;
  margin-bottom: -70px;
}

.footer-top {
  height: 150px;
}

.footer-bottom {
  height: 70px;
  background-color: #f0f2f4;
}

.header-bottom {
  height: 70px;
  background-color: rgb(248, 248, 248);
}
