.container {
  float: right;
}

.absoluteContainer {
  position: absolute;
  left: 50%;
  max-width: 50%;
  width: 100%;
  margin-left: 20px;

  @media (max-width: 1000px) {
    margin-left: 60px;
  }
}

.relativeWrapper {
  position: relative;
}

.image {
  position: absolute;
  // top: -470px;
  // left: 0;
  max-width: 727px;
}

.image {
  left: 40px;
  top: -600px;

  @media (min-width: 680px) {
    left: 20px;
  }
  @media (min-width: 720px) {
    left: 0;
  }


  @media (min-width: 1000px) {
    top: -480px;
  }


  // top: -420px;
  // @media (min-width: 1000px) and (max-width: 1280px) {
  //   top:-500px;
  // }
  // @media (max-width: 1000px) {
  //   top: -600px;
  // }
  // @media (max-width: 720px) {
  //   left: 20px;
  // }
  // @media (max-width: 680px) {
  //   left: 40px;
  // }
}
