.container {
  padding: 50px 0;
  background-color: rgb(26, 68, 86);
  font-family: "Segoe UI Light";
  font-size: 42px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
}

.links {
  display: inline-block;
  position: relative;
  top: -6px;
}
