@import './mixins';

.title {
  @include feature-title;
  display: inline-block;
  margin-bottom: 12px;

  &:hover {
    color: #007d9e;
    text-decoration: none;
  }
}

.description {
  @include feature-description;
}
