@import './mixins';

.child {
  @include feature-item(23px);
}

.layout-item {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: 640px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .image-container {
    margin-left: auto;
    margin-right: auto;
  }
}
