.banner {
  background-color: #2eb9de;

  p {
    font-size: 14px;
    padding: 8px 0;
    color: #FFFFFF;
  }

  a {
    text-decoration: underline;
    color: #FFFFFF;
  }

  img {
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
  }
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 8px;
  padding-right: 20px;

  &:hover {
    color: #007d9e;

    .button-icon {
      background-color: #007d9e;
    }
  }

  &-icon {
    background-color: #FFFFFF;
    -webkit-mask: url(../pages/images/banner-close.svg) center/14px no-repeat;
    mask: url(../pages/images/banner-close.svg) center/14px no-repeat;
    padding: 2px;
    width: 18px;
    height: 18px;
  }
}