@import "../constants";

.header {
  background-image: url("./images/header-background.png");
  background-size: cover;
  background-position: center top;
}

.header-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.opened {
  right: auto;
}

.links {
  padding-right: $inner-offset;
  a {
    margin: 0 10px;
    color: rgba(255, 255, 255, 255);
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.menu-sandwich {
  background: url(../pages/images/icon-sandwich.svg) no-repeat 0 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  &.clicked {
    background: url(../pages/images/icon-close.svg) no-repeat 0 0;
  }
}

@media(max-width: 800px) {
  .links {
    transition: right .1s linear;
    position: absolute;
    top: 40px;
    right: -300px;
    width: 200px;
    height: auto;
    background: #093643;
    box-shadow: -5px 10px 30px -5px #000;
    z-index: 999;
    padding: 20px;

    &.opened {
      right: 0;
    }
    a {
      display: block;
      margin: 0;
    }
  }
}
