.main {
  font-size: 60px;
  color: rgba(255, 255, 255, 255);
}

.additional {
  font-weight: bold;
  font-size: 40px;
  color: rgba(255, 255, 255, 255);
}

.block {
  padding-top: 50px;
  padding-bottom: 50px;
}
