@import '../constants';

.page-layout {
  margin-top: 50px;
  margin-bottom: 50px;
}

.version-link {
  margin-bottom: 20px;
  font-size: 14px;
}

.version {
  font-size: 16px;
}

.search {
  margin-bottom: 20px;
}

.sidebar {
  padding-left: $inner-offset;
}

.content {
  padding-right: $inner-offset;
}
