---
layout: null
---

body,
html {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: OpenSansCondensedBold;
    src: url({{site.baseurl}}/fonts/OpenSansCondensedBold.woff);
}

h2,
h3,
h4 {
    font-family: 'OpenSansCondensedBold','HelveticaNeue-CondensedBold',Helvetica,'Arial Narrow',Calibri,Arial,'Lucida Grande',sans-serif;
}

h1,
h5,
h6 {
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Verdana,"san-serif";
}

h1 {
    font-size: 45px;
    font-weight: 400;
    color: #375870;
}

h2 {
    font-size: 32px;
    color: #375870;
}

h3 {
    font-size: 24px;
    color: #5b7f98;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: #5b7f98;
}

h5 {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.navbar.navbar-main {
    font-family: 'OpenSansCondensedBold','HelveticaNeue-CondensedBold',Helvetica,'Arial Narrow',Calibri,Arial,'Lucida Grande',sans-serif;
    height: 79px;
}

.navbar.navbar-main .navbar-header {
    height: 78px;
}

.navbar.navbar-main .navbar-collapse {
    background: #f8f8f8;
}

.navbar.navbar-main .navbar-toggle {
    margin-top: 20px;
}

.navbar.navbar-main .navbar-toggle .icon-bar {
    height: 3px;
}

.navbar-default.navbar-main a.navbar-brand {
    color: #f05b41;
}

.navbar-default.navbar-main .navbar-nav {
    margin-top: 13px;
}

.navbar-default.navbar-main .navbar-nav > li > a {
    color: #0e4c77;
    font-size: 16px;
}

.navbar-default.navbar-main .navbar-nav > li > a:hover {
    color: #f05b41;
}

.navbar-default.navbar-main .navbar-nav > li.active > a {
    color: #f05b41;
    background: transparent;
}

.logo-container {
  float: right;
  padding-left: 8px;
}

.logo-team {
  margin: 0;
  font-size: 0.9em;
  color: #bababa;
  line-height: 14px;
  letter-spacing: -0.5px;
}

.logo-product {
  margin: 0;
  font-size: 1.58em;
  color: #f05b41;
  letter-spacing: -1px;
  line-height: 28px;
  margin-left: -1px;
}

.demos-container .main-menu,
.docs-container,
section {
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Verdana,"san-serif";
}

.docs-container .docs-content {
    font-size: 16px;
}

.main-menu {
  padding-top: 10px;
}

.main-menu h3 {
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Verdana,"san-serif";
    text-transform: uppercase;
    color: #5b7f98;
    font-size: 16px;
    font-weight: 700;
}

.main-menu ul li {
    color: #f05b41;
    margin-bottom: 5px;
}
.main-menu ul.version {
    font-size: 12px;
}
.main-menu ul.version li span {
    font-size: 14px;
}

.main-menu ul li > a {
    color: #1b4461;
}
.main-menu ul li > a.active {
    color: #f05b41;
}

.lead {
    font-size: 17px;
    font-weight: 400;
    color: #435c6f;
}

.lead p > strong {
    display: block;
    margin: 15px 0 -5px;
}

.intro-header {
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f0f2f4;
}

.intro-header.react-grid {
  background: #173952 url({{site.baseurl}}/img/banner-react-grid-bg.jpg) no-repeat bottom center;
  background-size: contain;
}

.intro-header.vue-grid {
  background: #04241b url({{site.baseurl}}/img/banner-vue-grid-bg.jpg) no-repeat bottom center;
  background-size: contain;
}

.intro-message {
    position: relative;
    margin-top: -20%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message,
.cookie-policy .cookie-policy-button,
.cookie-policy .title,
.intro-message > h1 {
  font-family: 'OpenSansCondensedBold','HelveticaNeue-CondensedBold',Helvetica,'Arial Narrow',Calibri,Arial,'Lucida Grande',sans-serif;
}

.intro-message > h1 {
    color: #f05b41;
    margin: 0;
    font-size: 4.5em;
    position: relative;
    display: inline-block;
}

.intro-message > h1 > sup {
    font-size: 0.3em;
    color: #fff;
    position: absolute;
    top: 5px;
    right: -35px;
}

.intro-message > h3 {
    font-size: 2.7em;
    color: #fff;
    margin: 5px 0 35px;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f0f2f4;
}

ul.intro-action-buttons .btn,
ul.banner-action-buttons .btn,
div.cookie-policy-button.btn {
    color: #f05b41;
    width: 210px;
    background-color: #fff;
    border-color: #fff;
    border-width: 2px;
}

ul.intro-action-buttons .btn.demos,
ul.banner-action-buttons .btn.demos {
    color: #fff;
    background-color: #f05b41;
    border-color: #f05b41;
    border-width: 2px;
}

ul.intro-action-buttons .btn:hover,
ul.banner-action-buttons .btn:hover,
ul.intro-action-buttons .btn.demos:hover,
ul.banner-action-buttons .btn.demos:hover,
div.cookie-policy-button.btn:hover {
    color: #fff;
    background-color: transparent;
}

.cookie-policy {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: #f05b41;
  color: #fff;
  padding: 20px 0;
}

.cookie-policy .container {
  position: relative;
}

.cookie-policy .title {
  font-size: 18px;
  margin-bottom: 10px;
}

.cookie-policy .text {
  padding-right: 250px;
}

.cookie-policy a,
.cookie-policy a:hover {
  color: #fff;
  text-decoration: underline;
}

.cookie-policy-button {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  right: 15px;
}

.action-button {
    font-size: 18px;
    font-weight: 400;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f0f2f4;
}

.content-section-b {
    padding: 50px 0;
}

.block-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-heading {
    margin-bottom: 30px;
    color: #296794;
    font-size: 34px;
}

.block-composable .section-heading {
    margin-top: 35px;
}
.block-composable .block-image {
    margin-top: 20px;
}

.block-theming .section-heading {
    margin-top: 20px;
}
.block-theming .block-image {
    margin-top: 35px;
}

.block-redux .section-heading {
    margin-top: 45px;
}
.block-redux .block-image {
    margin-top: 30px;
}

.block-performance .section-heading {
    margin-top: 20px;
}
.block-performance .block-image {
    margin-top: 25px;
}

.block-features .section-heading {
    margin-top: 20px;
}
.block-features .block-image {
    margin-top: 35px;
}

.block-feedback .section-heading {
    margin-top: 55px;
}
.block-feedback .block-image {
    margin-top: 20px;
}

.banner {
    padding: 100px 0;
    color: #f0f2f4;
    font-family: 'OpenSansCondensedBold','HelveticaNeue-CondensedBold',Helvetica,'Arial Narrow',Calibri,Arial,'Lucida Grande',sans-serif;
    margin-bottom: -40px;
}

.banner.react {
  background: #173952 url({{site.baseurl}}/img/bottom-react-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner.vue {
  background: #04241b url({{site.baseurl}}/img/bottom-vue-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
    margin: 0;
    font-size: 3em;
    color: #fff;
}

.banner ul {
    margin-bottom: 0;
}

.banner-action-buttons {
    margin-top: 0;
    float: right;
}
.banner-action-buttons > li:last-child {
    padding-right: 0;
}

footer {
    margin-top: 40px;
    padding: 50px 0;
    background-color: #f0f2f4;
}

footer ul {
    margin-top: 30px;
}

footer ul > li > a {
    color: #296794;
    background-color: #f0f2f4;
    font-family: 'OpenSansCondensedBold','HelveticaNeue-CondensedBold',Helvetica,'Arial Narrow',Calibri,Arial,'Lucida Grande',sans-serif;
    font-size: 16px;
}

footer ul > li > a:hover {
    text-decoration: none;
    color: #f05b41;
}

footer ul > li.active > a {
    color: #f05b41;
}

.copyright {
    color: #888;
    font-size: 12px;
}

@media(max-width:1199px) {
    ul.banner-action-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:991px) {
    .block-item .section-heading {
        margin-top: 20px;
    }
}

@media(max-width: 767px) {
    .intro-message {
      padding-bottom: 0;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .intro-message > h1 > sup {
        right: -25px;
    }

    .intro-message > h3 {
        font-size: 2em;
    }

    ul.intro-action-buttons > li {
        margin-bottom: 20px;
    }

    ul.intro-action-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
    .banner {
        text-align: center;
        padding: 60px 0;
    }
    .banner h2 {
        margin: 0;
        font-size: 3em;
    }

    ul.banner-action-buttons {
        float: none;
    }

    ul.banner-action-buttons > li {
        margin-bottom: 10px;
    }

    ul.banner-action-buttons > li:last-child {
        margin-bottom: 0;
    }

    .section-heading {
        margin-bottom: 30px;
        font-size: 26px;
    }

    .content-section-a,
    .content-section-b {
        padding: 10px 0;
    }

    .block-item .section-heading {
        margin-top: 20px;
    }
    .block-item .block-image {
        margin: 30px auto;
    }

    .intro-header.react {
        background: #173952 url({{site.baseurl}}/img/banner-react-bg-mobile.jpg) no-repeat center center;
    }
    .intro-header.vue {
        background: #04241b url({{site.baseurl}}/img/banner-vue-bg-mobile.jpg)  no-repeat center center;
    }

    footer {
        padding: 30px 0;
    }

    .cookie-policy .text{
      padding-right: 0;
      margin-bottom: 10px;
    }

    .cookie-policy-button {
      position: relative;
      margin-top: 0;
      top: auto;
      right: auto;
    }
}

@media(max-width: 498px) {
    .intro-message > h1 > .break {
        display: block;
    }
    .intro-message > h1 > sup {
        right: -20px;
    }
}

.algolia-autocomplete {
  width: 100%;
}

#docsearch {
  margin-bottom: 10px;
}
