.theme-selector {
  text-align: right;
  display: block;
  margin-bottom: 10px;
  margin-left: 200px;
}

.theme-selector a {
  cursor: pointer;
  border-bottom: dashed 1px #337ab7;
  text-decoration: none;
}
