<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page.noindex %}
    <meta name="robots" content="noindex" />
    {% endif %}
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="prefetch" href="{{site.baseurl}}/fonts/OpenSansCondensedBold.woff">
    <link rel="shortcut icon" type="image/png" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/codemirror.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/addon/fold/foldgutter.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css?v={{ site.time | date: '%s' }}">
    <link rel="stylesheet" href="{{site.baseurl}}/css/embedded-demos.css?v={{ site.time | date: '%s' }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l='+l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WQWSD3L');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWSD3L" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top navbar-main">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}{{page.product_link}}/">
            <div>
              <img src="{{site.baseurl}}/img/{{page.logo_file}}" alt="{{page.product_name}}">
              <div class="logo-container">
                <h3 class="logo-team">DevExtreme</h3>
                <h3 class="logo-product">{{page.product_name}}</h3>
              </div>
            </div>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if site.data.demos.navigation[page.product_link].size > 0 %}
            <li{% if page.layout == 'demos' %} class="active"{% endif %}><a href="{{site.baseurl}}{{site.data.demos.navigation[page.product_link].first.items.first.path}}/">Demos</a></li>
            {% endif %}
            <li{% if page.layout == 'docs' %} class="active"{% endif %}><a href="{{site.baseurl}}{{page.product_link}}/docs/guides{{page.initial_guide}}/">Docs</a></li>
            <li><a href="https://community.devexpress.com/tags/DevExtreme+Reactive/default.aspx" target="_blank">Blog</a></li>
            <li><a href="https://github.com/DevExpress/devextreme-reactive" target="_blank">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% if page.product_name == "Vue Grid" %}
      <div style="width: 100%; background-color: rgba(238, 80, 57, 0.3); margin: -20px auto 10px auto; text-align: center; color: rgb(48, 78, 101); font-size: 16px; ">
        <b>This project is deprecated. Use <a href="https://github.com/DevExpress/devextreme-vue/blob/master/README.md">DevExtreme Vue</a> instead.</b>
      </div>
    {% endif %}

    {{ content }}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-inline">
                      {% if site.data.demos.navigation[page.product_link].size > 0 %}
                      <li{% if page.layout == 'demos' %} class="active"{% endif %}><a href="{{site.baseurl}}{{site.data.demos.navigation[page.product_link].first.items.first.path}}/">Demos</a></li>
                      {% endif %}
                      <li{% if page.layout == 'docs' %} class="active"{% endif %}><a href="{{site.baseurl}}{{page.product_link}}/docs/guides{{page.initial_guide}}/">Docs</a></li>
                      <li><a href="https://community.devexpress.com/tags/DevExtreme+Reactive/default.aspx" target="_blank">Blog</a></li>
                      <li><a href="https://github.com/DevExpress/devextreme-reactive" target="_blank">GitHub</a></li>
                    </ul>
                </div>
                <div class="col-md-9 copyright">
                  <p>
                    Copyright © 2011-{{ site.time | date: '%Y' }} Developer Express Inc.<br />
                    All trademarks or registered trademarks are property of their respective owners.
                    <div class="links">
                      <a href="https://js.devexpress.com/Privacy/">Your Privacy - Legal Statements</a>
                      <br>
                      <a href="https://js.devexpress.com/Licensing/">Licensing</a>
                  </div>
                  <p>
                </div>
            </div>
        </div>
    </footer>

    <script>
      // Remove unexpected global variable generated by kramdown to fix js-cookie
      // <h3 id="exports">Exports</h3>
      window.exports = undefined;
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>

    <script src="{{site.baseurl}}/js/tracking.js?v={{ site.time | date: '%s' }}"></script>
    <script>
        trackingCookie.notice();
    </script>

  </body>
</html>
