---
layout: default
---
<style>
  body {
    overflow-y: scroll;
  }
</style>

<div class="container demos-container">
  <div class="row">
    <div class="col-sm-9 col-sm-push-3 docs-content">
      {{ content }}
    </div>

    <div class="col-sm-3 col-sm-pull-9 main-menu">
      {% for group in site.data.demos.navigation[page.product_link] %}
        <h3>{{ group.title }}</h3>

        <ul class="list-unstyled">
        {% for item in group.items %}
          {% assign url1 = item.path | append: '.html' %}
          {% assign url2 = item.path | append: '/' %}

          {% if page.url == url1 or page.url == url2 %}
          <li>{{ item.title }}</li>
          {% else %}
          <li><a href="{{site.baseurl}}{{item.path}}/">{{ item.title }}</a></li>
          {% endif %}

        {% endfor %}
        </ul>

      {% endfor %}
    </div>
  </div>
</div>

<script src="{{site.baseurl}}{{page.demos_script_link}}/dist/index.js?v={{ site.time | date: '%s' }}"></script>
