.dx-g-bs4-cursor-pointer {
  cursor: pointer;
}
.dx-g-bs4-user-select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: 'none';
}
.dx-g-bs4-inactive {
  opacity: 0.3;
}
.dx-g-bs4-overflow-hidden {
  overflow: hidden;
}
.dx-g-bs4-column-chooser-item {
  font-size: initial;
}
.dx-g-bs4-column-chooser-checkbox {
  margin-right: 10px;
}
.dx-g-bs4-sorting-indicator {
  top: 0;
  font-size: 11px;
}
span.dx-g-bs4-group-panel-item-icon {
  top: -2px;
  font-size: 11px;
  margin-left: -4px;
}
.dx-g-bs4-group-panel-empty-message {
  padding: 11px 0;
}
.dx-g-bs4-table-detail-toggle-cell-icon {
  font-size: 9px;
  top: 0;
}
.dx-g-bs4-table-group-row-cell {
  font-size: 9px;
  top: 0;
  margin-right: 10px;
}
.dx-g-bs4-table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dx-g-bs4-table {
  table-layout: fixed;
}
.dx-g-bs4-table-head {
  top: 0;
  z-index: 1;
}
.dx-g-bs4-table-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.dx-g-bs4-grouping-control {
  width: 19px;
}
.dx-g-bs4-grouping-control-icon {
  top: 0;
  font-size: 12px;
  padding: 5px;
}
.dx-g-bs4-table-header-cell-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: -5px;
  padding: 5px;
  flex: 1;
}
.dx-g-bs4-table-header-cell-left {
  margin-right: 14px;
}
.dx-g-bs4-table-header-cell-right {
  margin-left: 14px;
}
.table .dx-g-bs4-table-edit-cell {
  padding: 5px;
}
button.dx-g-bs4-table-edit-command-cell {
  padding: 11px;
}
.dx-g-bs4-toolbar {
  align-items: center;
  min-height: 55px;
  flex: none;
}
.dx-g-bs4-paging-panel {
  flex: none;
}
.dx-g-bs4-toggle-button {
  cursor: pointer;
  display: inline-block;
  font-size: 9px;
  top: 0;
  margin-top: -.5rem;
  margin-bottom: -.5rem;
  box-sizing: content-box;
  min-width: 9px;
}
.dx-g-bs4-toggle-button-hidden {
  opacity: 0;
  cursor: default;
}
.dx-g-bs4-sorting-control-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dx-g-bs4-table-tree-content {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dx-g-bs4-resizing-control-wrapper {
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 16px;
  top: 0;
  right: -8px;
  height: 100%;
  cursor: col-resize;
  z-index: 100;
  opacity: 0;
}
.dx-g-bs4-header-cell:nth-last-child(2) .dx-g-bs4-resizing-control-wrapper {
  right: 0;
  width: 8px;
}
.dx-g-bs4-resizing-control-wrapper-active {
  opacity: 1;
}
.dx-g-bs4-header-cell:hover .dx-g-bs4-resizing-control-wrapper {
  opacity: 1;
}
.dx-g-bs4-resize-control-line {
  opacity: 1;
  position: absolute;
  height: 50%;
  width: 1px;
  top: 25%;
  transition: all linear 100ms;
}
.dx-g-bs4-resize-control-line-first {
  left: 7px;
}
.dx-g-bs4-resize-control-line-second {
  left: 9px;
}
.dx-g-bs4-resize-control-line-active {
  left: 8px;
  height: calc(100% - 4px);
  top: 2px;
}
.dx-g-bs4-banded-header-cell:first-child {
  border-left: 0!important;
}
.dx-g-bs4-banded-header-cell:last-child {
  border-right: 0!important;
}
.dx-g-bs4-banded-cell:first-child {
  border-left: 0!important;
}
.dx-g-bs4-banded-cell:last-child {
  border-right: 0!important;
}
.dx-g-bs4-filter-selector-item {
  font-size: initial;
}
.dx-g-bs4-filter-selector-item:focus {
  outline: none;
}
.dx-g-bs4-filter-selector-item-text {
  margin-left: 10px;
}
.dx-g-bs4-filter-selector-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
