.container {
  background-color: rgb(89, 208, 240);
  padding: 20px;
  text-align: center;
  &:hover {
    background-color: #007d9e;
  }
}

.title {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

a.link:hover {
  text-decoration: none;
}
