.container {
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  color: #0096BD;
  padding: 2.4rem 1rem;
  text-align: center;
  cursor: pointer;

  &.dense {
    padding: 1.2rem;
  }

  &:hover {
    box-shadow: 0 4px 12px rgba(0,140,177,.3);
  }
}

a.link:hover {
  text-decoration: none;
}
