.container {
  color: #0096BD;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 100%;

  &.colored {
    padding: 20px;
    background-color: #2eb9de;
    color: white;
    box-shadow: none !important;
  }

  &.dense {
    padding: 1.2rem;
  }

  &.normal {
    padding: 2.4rem 1rem;
  }

  &:hover {
    box-shadow: 0 4px 12px rgba(0,140,177,.3);
  }
}

a.link:hover {
  text-decoration: none;
}
