@import '../../../node_modules/segoe-fonts/segoe-fonts.css';

$font-family-sans-serif: "Segoe UI", sans-serif;

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";


$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 1000px,
  lg: 1280px,
  xl: 1800px
);

$container-max-widths: (
  sm: 760px,
  md: 920px,
  lg: 1200px,
  xl: 1200px
);


@import "../../../node_modules/bootstrap/scss/mixins";

@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/dropdown";

.container {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-right: -20px;
  margin-left: -20px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  padding-right: 10px;
  padding-left: 10px;
}

pre {
  border: 1px solid #dee2e6;
  padding: 10px;
  border-radius: 10px;
}

body {
  overflow-x: hidden;
}

a,
span.nav-link {
  color: #0096bd;
  &:hover {
    color: #00718e;
  }
}

.dropdown-item.active {
  background-color: #0096bd;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: #114e5f;
}

h1 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.3em;
}

.algolia-autocomplete {
  width: 100%;
}

:global .alert-note {
  border-radius: 2px;
  margin: 40px 0;
  padding: 15px 20px 18px;
  background-color: #FFF0BD;
  border: 1.5px solid #FFDA5C;

  b, .part-title {
    font-weight: 900;
    font-family: "Segoe UI Bold";
  }

 .note-start {
   color: #337ab7;
  font-size: 16px;
  font-weight: 700;
   margin: 0 0 7px;
}
}
